a.toolbar-icon.toolbar-icon-budget-menu-settings-form::before{
  background-image: url('../../../../sites/default/files/icons/movie_admin_menu_icon.png');
  opacity: 0.6;
}

a.toolbar-icon.toolbar-icon-budget-menu-settings-form:active::before,
a.toolbar-icon.toolbar-icon-budget-menu-settings-form.is-active::before{
  background-image: url('../../../../sites/default/files/icons/movie_admin_menu_icon.png');
  opacity: 1;
}